@import 'variable';

.landing-sec {
    height: 80vh;
    background: url('../../images/bg.jpg') no-repeat;
    background-position: 30% 0px;
    @media #{$md-down} {
        background-position: 100% 0%;
    }
}

header {
    font-family: $montserrat;
    max-width: 1830px;
    width: 100%;
    margin: 0 auto;
    padding: 42px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
        display: flex;
        align-items: center;
    }
    .mob-nav {
        display: none;
        @media #{$sm-down} {
            display: block;
        }
    }
    nav {
        @media #{$sm-down} {
            display: none;
            position: absolute;
            background: $white;
            top: 90px;
            left: 15px;
            width: calc(100% - 30px);
            padding: 15px 25px;
            border-radius: 5px;
            box-shadow: 0 40px 15px -35px rgba($black, 0.4);
        }

        @media #{$sm-up} {
            display: block !important;
        }

        a {
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 900;
            margin-left: 19px;
            display: inline-flex;
            align-items: center;
            letter-spacing: 0px;
            color: $black;
            
            @media #{$sm-down} {
                display: block;
                margin: 5px 0;
            }
            
            &.active {
                color: $java;
            }
            
            &:hover {
                color: $java;
            }
        }
        
    }
}

.landing-content {
    display: flex;
    max-width: 360px;
    flex-direction: column;
}

.center-box {
    max-width: $center-width;
    margin: auto;
}

.project-sec {
    .projects {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        .project {
            width: 185px;
            display: flex;
            flex-direction: column;
            img {
                max-width: 25px;
                display: inline-block;
                margin: 10px auto;
            }
            label {
                text-transform: uppercase;
                font-weight: 700;
                margin-bottom: 10px;
            }
        }
    }
}

.project-detail-sec {
    background: $java;
    .projects-head {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        .project-detail {
            width: 185px;
            display: flex;
            flex-direction: row;
            .image-cover {
                margin: auto 10px;
                color: $white;
            }
            .p-contect {
                color: $white;    
            }
            & > div {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            p {
                margin: 0px;
                color: $white;
                text-transform: uppercase;
                font-size: 10px;
                padding-top: 7.5px;
            }
        }
    }
}

.need-project {
    .small-center-box {
        max-width: 550px;
        margin: auto;
        form {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            margin: 35px auto;
            input {
                @media #{$xs-up} {
                    width: calc(50% - 10px);
                }
            }

            input.fix-100 {
                @media #{$xs-up} {
                    width: 100%;
                }
            }

            button {
                margin: 25px auto;
            }
        }
    }
}

.footer {
    font-family: $montserrat;
    font-size: 12px;
    color: $dawn;
    .center-box {
        max-width: calc(#{$center-width} - 120px);
    }
    label {
        display: block;
        padding-bottom: 10px;
        font-size: 14px;
        font-weight: 900;
    }
    a {
        text-decoration: inherit;
        color: inherit;
        &:hover {
            color: $java;
        }
    }
    .contact {
        a {
            display: block;
        }
    }
    .links {
        display: flex;
        flex-wrap: wrap;
        a {
            min-width: 125px;
        }
    }
}