@import 'variable';

.landing-sec {
    height: 80vh;
    background: url('../../images/bg.jpg') no-repeat;
    background-position: 20% 0px;
}

header {
    font-family: $montserrat;
    max-width: 1830px;
    width: 100%;
    margin: 0 auto;
    padding: 42px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
        display: flex;
        align-items: center;
    }

    nav {
        a {
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 900;
            margin-left: 19px;
            display: inline-flex;
            align-items: center;
            letter-spacing: 0px;
            color: $black;
            &.active {
                color: $java;
            }
        }
        
    }
}

.landing-content {
    display: flex;
    max-width: 360px;
    flex-direction: column;
    justify-content: flex-end;
}

.center-box {
    max-width: $center-width;
    margin: auto;
}

.project-sec {
    .projects {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        .project {
            width: 185px;
            display: flex;
            flex-direction: column;
            img {
                max-width: 25px;
                display: inline-block;
                margin: 10px auto;
            }
        }
    }
}

.project-detail-sec {
    background: $java;
    .projects-head {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        .project-detail {
            width: 185px;
            display: flex;
            flex-direction: row;
            .image-cover {
                margin: auto 10px;
                color: $white;
            }
            .p-contect {
                color: $white;    
            }
            & > div {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            p {
                margin: 0px;
                color: $white;
                text-transform: uppercase;
                font-size: 10px;
                padding-top: 7.5px;
            }
        }
    }
}

.need-project {    
    form {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        max-width: 550px;
        margin: 35px auto;
        input {
            @media #{$xs-up} {
                width: calc(50% - 10px);
            }
        }

        input.fix-100 {
            @media #{$xs-up} {
                width: 100%;
            }
        }

        button {
            margin: 25px auto;
        }
    }
}

.footer {
    font-family: $montserrat;
    font-size: 12px;
    color: $dawn;
    .center-box {
        max-width: calc(#{$center-width} - 80px);
    }
    label {
        display: block;
        padding-bottom: 10px;
        font-size: 14px;
        font-weight: 900;
    }
    a {
        text-decoration: inherit;
        color: inherit;
    }
    .grid-3 {
        display: grid;
        grid-template-columns: 20% 20% 60%;
        gap: 60px;
    }
    .contact {
        a {
            display: block;
        }
    }
    .links {
        display: flex;
        flex-wrap: wrap;
        a {
            min-width: 33%;
        }
    }
}